<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" href="css\style.css"/>
</head>
<body>
    <section>
        <header>
          <span class="title">
            Koszyk
          </span>
          <div class="header-container">
              <p class="price">
                  Zawartość koszyka <span th:text="${price}"></span> zł (<span th:text="${count}"></span>)
              </p>
            <a href="/" class="basket">
              Powrót
            </a>
          </div>
        </header>
    </section>
    <section>
        <div class="element-main">
            <span class="menu-descr">
                Zawartosc koszyka
            </span>
            <div class="element-basket" th:each="meal : ${cart}">
                <p class="name-basket">
                    Nazwa: <span th:text="${meal.Name}"></span>
                </p>
                <p class="name-basket">
                    Cena: <span th:text="${meal.Price}"></span> zł
                </p>
                <form th:action="@{/removefromCart(Id=${meal.Id})}" method="post">
                    <button class="button-class" type="submit">
                        Usuń z koszyka
                    </button>
                </form>
            </div>
            <div class="element-basket">
                <button class="button-class-next">
                    <a href="/summary" style="text-decoration: none; color: inherit;">
                        Dalej
                    </a>
                </button>
            </div>
        </div>
    </section>
</body>
</html>