<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <head>
        <meta charset="UTF-8">
        <title>Panel administracyjny</title>
        <link rel="stylesheet" href="css\style.css"/>
    </head>
    <body>
        <section>
            <header>
              <span class="title">
                Panel administracyjny
              </span>
              <div class="header-container">
                <p class="price">
                    Ilość elementów ()
                </p>
                <a href="" class="password">
                    Zmień hasło
                </a>
                <a href="" class="basket">
                    Wyloguj
                </a>
              </div>
            </header>
        </section>
        <section>
            <div class="element-main">
                <span class="menu-descr">
                    Zawartosc koszyka
                </span>
                <form th:action="@{/admin}" method="post">
                    <div class="element-summary">
                        <div>
                            <label for="URL" class="text-label">Zdjęcie(URL): </label>
                            <input type="text" id="URL" name="URL" required>
                        </div>
                        <div>
                            <label for="Name" class="text-label">Nazwa: </label>
                            <input type="text" id="Name" name="Name" required>
                        </div>
                        <div>
                            <label for="Descr" class="text-label">Opis: </label>
                            <input type="text" id="Descr" name="Descr" required>
                        </div>
                        <div>
                            <label for="Price" class="text-label">Cena: </label>
                            <input type="number" min="0.01" step="0.01" id="Price" name="Price" required>
                        </div>
                    </div>
                    <div class="element">
                        <button type="submit" class="button-class-next">
                            Dodaj
                        </button>
                    </div>
                </form>
                <div class="element">
                    <div class="left-side">
                      <img src="https://www.tasteatlas.com/images/dishes/7c83f24ab48449c2a6f70784285b8e3f.jpg" class="image">
                    </div>
                    <div class="right-side">
                      <span class="name">
                        Kotlet schabowy
                      </span>
                      <div> 
                        <p class="text-descr">
                          Delikatny kotlet schabowy panierowany w chrupiącej bułce tartej, podawany z miękkimi, gotowanymi ziemniakami. Do tego świeża surówka z marchewki, kapusty i ogórka z delikatnym dressingiem. Danie pełne tradycyjnych smaków, które rozpieści Twoje podniebienie.
                        </p>
                      </div>
                      <div class="button-section">
                        <span class="price-add">
                          Cena: xx zł
                        </span>
                        <button class="button-class">
                          Usuń
                        </button>
                      </div>
        </section>
</body>
</html>