<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" href="..\static\css\style.css"/>
</head>
<body>
    <section>
        <header>
          <span class="title">
            Koszyk
          </span>
          <div class="header-container">
            <p class="price">
              Zawartość koszyka xx zł ()
            </p>
            <a href="" class="basket">
              Powrót
          </a>
          </div>
        </header>
    </section>
    <section>
        <div class="element-main">
            <span class="menu-descr">
                Zawartosc koszyka
            </span>
            <div class="element-basket">
                <p class="name-basket">
                    Nazwa: 
                </p>
                <p class="name-basket">
                    Cena: xx zł
                </p>
                <p class="name-basket">
                    Ilosc:
                </p>
                <button class="button-class">
                    Usuń z koszyka
                </button>
            </div>
            <div class="element-basket">
                <button class="button-class-next">
                    Dalej
                </button>
            </div>
        </div>
    </section>
</body>
</html>