<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restauracja</title>
    <link rel="stylesheet" href="\css\style.css">
</head>
<body>
  <section>
    <header>
      <span class="title">
        Restauracja - serwis z usługą zamówień z dojazdem
      </span>
      <div class="header-container">
        <p class="price">
          Zawartość koszyka xx zł ()
        </p>
        <a href="basket" class="basket">
          Koszyk
      </a>
      </div>
    </header>
  </section>
  <section>
    <div class="element-main">
        <span class="menu-descr">
          Dostępne dania
        </span>
        <div class="element" th:each="meal : ${meals}">
          <div class="left-side">
            <img th:src="@{${meal.ImgURL}}" class="image">
          </div>
          <div class="right-side">
            <span class="name" th:text="${meal.Name}"></span>
            <div> 
              <p class="text-descr" th:text="${meal.Description}"></p>
            </div>
            <div class="button-section">
              <span class="price-add">
                Cena:
              </span>
              <span class="price-add" th:text="${meal.Price}"></span>
              <span class="price-add">
                zł
              </span>
              <button class="button-class-home">
                Dodaj do koszyka
              </button>
            </div>
          </div>
        </div>
    </div>
  </section>
</body>
</html>