<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Logowanie</title>
        <link rel="stylesheet" href="css\style.css"/>
    </head>
    <body>
        <section>
            <header>
                <span class="title">
                Logowanie - panel administracyjny
                </span>
            </header>
        </section>
        <section>
            <div class="element-main">
                <span class="menu-descr">
                    Wprowadź dane do logowania
                </span>
                <div class="element-summary">
                    <div>
                        <label for="Login" class="text-label">Login: </label>
                        <input type="text" id="Login" name="Login">
                    </div>
                    <div>
                        <label for="Password" class="text-label">Hasło: </label>
                        <input type="text" id="Password" name="Password">
                    </div>
                </div>
                <div class="element">
                    <button class="button-class-next">
                        Zaloguj
                    </button>
                </div>
            </div>
        </section>
    </body> 
</html>