<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel zamówień</title>
    <link rel="stylesheet" href="css\style.css"/>
</head>
<body>
    <section>
        <header>
          <span class="title">
            Panel zamówień
          </span>
          <div class="header-container">
            <p class="price">
              Ilość zamówień ()
            </p>
            <a href="/admin" class="basket">
              Powrót
            </a>
          </div>
        </header>
    </section>
    <section>
        <div class="element-main">
            <span class="menu-descr">
                Zamówienia
            </span>
            <div class="element-basket">
                <p class="name-basket">
                    ID: 
                </p>
                <p class="name-basket">
                    Zawartość: 
                </p>
                <p class="name-basket">
                    Cena: xx zł
                </p>
                <p class="name-basket">
                    Czy opłacone:
                </p>
                <button class="button-class">
                    Realizacja
                </button>
            </div>
        </div>
    </section>
</body>
</html>