<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Logowanie</title>
        <link rel="stylesheet" href="css\style.css"/>
    </head>
    <body>
        <section>
            <header>
                <span class="title">
                Zamiana loginu/hasła
                </span>
                <a href="/admin" class="basket">
                    Powrót
                  </a>
            </header>
        </section>
        <section>
            <div class="element-main">
                <div class="element-summary">
                    <div>
                        <label for="Login" class="text-label">Nowy login: </label>
                        <input type="text" id="Login" name="Login">
                    </div>
                    <div>
                        <label for="Password" class="text-label">Powtórz login: </label>
                        <input type="text" id="Password" name="Password">
                    </div>
                </div>
                <div class="element">
                    <button class="button-class-next">
                        Zmień
                    </button>
                </div>
                <div class="element-summary">
                    <div>
                        <label for="Login" class="text-label">Nowe hasło: </label>
                        <input type="text" id="Login" name="Login">
                    </div>
                    <div>
                        <label for="Password" class="text-label">Powtórz hasło: </label>
                        <input type="text" id="Password" name="Password">
                    </div>
                </div>
                <div class="element">
                    <button class="button-class-next">
                        Zmień
                    </button>
                </div>
            </div>
        </section>
    </body> 
</html>