<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Panel administracyjny</title>
        <link rel="stylesheet" href="\css\style.css"/>
    </head>
    <body>
        <section>
            <header>
              <span class="title">
                Panel administracyjny
              </span>
              <div class="header-container">
                <p class="price">
                    Ilość elementów ()
                </p>
                <a href="/admin/password" class="password">
                    Zmień hasło
                </a>
                <a href="/logout" class="basket">
                    Wyloguj
                </a>
              </div>
            </header>
        </section>
        <section>
            <div class="element-main">
                <span class="menu-descr">
                    Dodaj nowe danie
                </span>
                <form th:action="@{/admin/add}" method="post">
                    <div class="element-summary">
                        <div>
                            <label for="Name" class="text-label">Nazwa: </label>
                            <input type="text" id="Name" name="Name" required>
                        </div>
                        <div>
                            <label for="Description" class="text-label">Opis: </label>
                            <input type="text" id="Description" name="Description" required>
                        </div>
                        <div>
                            <label for="ImgURL" class="text-label">Zdjęcie(URL): </label>
                            <input type="text" id="ImgURL" name="ImgURL" required>
                        </div>
                        <div>
                            <label for="Price" class="text-label">Cena: </label>
                            <input type="number" min="0.01" step="0.01" id="Price" name="Price" required>
                        </div>
                    </div>
                    <div class="element">
                        <button type="submit" class="button-class-next">
                            Dodaj
                        </button>
                    </div>
                </form>
                <div class="element" th:each="meal : ${meals}">
                    <img th:src="@{${meal.ImgURL}}" class="image">
                    <div class="right-side">
                        <span class="name" th:text="${meal.Name}"></span>
                        <div>
                            <p class="text-descr" th:text="${meal.Description}"></p>
                        </div>
                        <div class="button-section">
                            <span class="price-add">
                                Cena:
                            </span>
                            <span class="price-add" th:text="${meal.Price}"></span>
                            <span class="price-add">
                                zł
                            </span>
                            <form th:action="@{/admin/delete(Id=${meal.Id})}" method="post">
                                <button type="submit" class="button-class-home">
                                    Usuń
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>