<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel zamówień</title>
    <link rel="stylesheet" href="\css\style.css"/>
</head>
<body>
<section>
    <header>
        <span class="title">Panel zamówień</span>
        <div class="header-container">
            <p class="price">
                Ilość zamówień (<span th:text="${count}"></span>)
            </p>
            <a href="/admin" class="basket">Powrót</a>
        </div>
    </header>
</section>
<section>
    <div class="element-main">
        <span class="menu-descr">Zamówienia</span>
        <div class="element-order" th:each="orderLink : ${orders}">
            <p class="name-order">
                Numer: <span th:text="${orderLink.order.Id}" class="name-order-in"></span>
            </p>
            <p class="name-order">
                Zawartość:
                <div th:each="Name : ${orderLink.order.MealsNames}">
                    <span th:text="${Name}" class="name-order-in"> </span>
                </div>
            </p>
            <p class="name-order">
                Cena: <span th:text="${orderLink.order.Price}" class="name-order-in"></span> zł
            </p>
            <p class="name-order">
                Data złożenia: <span th:text="${#calendars.format(orderLink.order.BeginDate, 'yyyy-MM-dd HH:mm:ss')}" class="name-order-in"></span>
            </p>
            <p class="name-order">
                Data realizacji: <span th:text="${#calendars.format(orderLink.order.EndDate, 'yyyy-MM-dd HH:mm:ss')}" class="name-order-in"></span>
            </p>
            <p class="name-order">
                Imię i Nazwisko Klienta:
                <span th:text="${orderLink.customer.Name}" class="name-order-in"> </span>
                <span th:text="${orderLink.customer.Surname}" class="name-order-in"></span>
            </p>
            <p class="name-order">
                Dane adresowe:
                <span th:text="${orderLink.customer.City}" class="name-order-in"> </span>
                <span th:text="${orderLink.customer.Adress}" class="name-order-in"> </span>
                <span th:text="${orderLink.customer.Code}" class="name-order-in"></span>
            </p>
            <p class="name-order">
                Telefon kontaktowy: <span th:text="${orderLink.customer.Phone}" class="name-order-in"></span>
            </p>
            <p class="name-order">
                Status realizacji: <span th:text="${orderLink.order.isCompleted ? 'zrealizowany' : 'w trakcie realizacji'}" class="name-order-in"></span>
            </p>
            <form th:action="@{/admin/changeStatusOrder(OrderID=${orderLink.order.Id}, isCompleted=${orderLink.order.isCompleted})}" method="post">
                <button class="button-class" style="margin-left: 45%" type="submit">
                    <span th:text="${orderLink.order.isCompleted ? 'Wycofaj' : 'Realizacja'}"></span>
                </button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
