<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Logowanie</title>
        <link rel="stylesheet" href="\css\style.css"/>
    </head>
    <body>
        <section>
            <header>
                <span class="title">
                Zamiana hasła
                </span>
                <a href="/admin" class="basket">
                    Powrót
                  </a>
            </header>
        </section>
        <section>
            <div class="element-main">
                <form th:action="@{/admin/changePassword(Password=${Password}, Password_re=${Password_re})}" method="post">
                    <div class="element-summary">
                        <div>
                            <label for="Password" class="text-label">Nowe hasło: </label>
                            <input type="password" id="Password" name="Password" required>
                        </div>
                        <div>
                            <label for="Password_re" class="text-label">Powtórz hasło: </label>
                            <input type="password" id="Password_re" name="Password_re" required>
                        </div>
                    </div>
                    <div class="element">
                        <button class="button-class-next" type="submit">
                            Zmień
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </body> 
</html>